/* Navbar */
.nav {
  background-color: #e89ac7;
  padding: 10px 15px;
}

.brand {
  text-decoration: none;
  color: black;
}

/* List Character */
.container-list {
  width: 600px;
  margin: 40px auto;
  display: block;
}

.item-character {
  background-color: #97ce4c;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  text-align: center;
  transition: 0.5s;
  color: black;
}

.linkto {
  text-decoration: none;
}

.item-character:hover {
  transform: scale(1.02);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
}

/* Details */
.container-card {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.detail {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid black;
  padding-bottom: 15px;
}

.detail p {
  line-height: 25px;
  margin: 0;
}

.danger {
  background-color: #ff3333;
}

.success {
  background-color: #27c41d;
}

.warning {
  background-color: #ffc300;
}
